<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>工时统计月报</title>
<meta name="content-type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css" href="../../../css/common/main.css" />
<link rel="stylesheet" type="text/css" href="../../../css/themes/default/easyui.css">
<link rel="stylesheet" type="text/css" href="../../../css/themes/icon.css">
<script type="text/javascript" src="../../../js/jquery.min.js"></script>
<script type="text/javascript" src="../../../js/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../../../js/common.js"></script>
<script type="text/javascript" src="../../gmodule/js/common.js"></script>
<script type="text/javascript" src="../../../js/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="js/monthly.js"></script>
</head>
<body>
<table class="btbHead">
		<tr>
			<td style='width: 25%;'> 
				<img src='../../../images/common/title.gif' align='absmiddle' />工时统计月报</td>
			<td style="text-align: right;">
				<a href="javascript:designeeItem()" id="queryBtn" class="easyui-linkbutton" iconCls="icon-search">&nbsp;查&nbsp;&nbsp;询&nbsp;</a>
				<a href="javascript:tableToExcel()" id="queryBtn" class="easyui-linkbutton" iconCls="icon-export">&nbsp;导&nbsp;&nbsp;出&nbsp;</a>
			</td>
		</tr>
	</table>
<!-- 条件查询表单 -->
	<form id="form_search">
		<table class="btbForm">
			<tr>
				<td>
					&nbsp;&nbsp;&nbsp;创建时间&nbsp;&nbsp;<input id="startTime" name="startTime" type="text" class="easyui-datebox" data-options="showSeconds:false,prompt:'缺陷创建时间',editable:false">&nbsp;&nbsp;~&nbsp;
					<input  id="endTime" type="text" class="easyui-datebox" name="endTime" data-options="showSeconds:false,prompt:'缺陷创建时间',editable:false" >&nbsp;&nbsp;&nbsp;
					项目名&nbsp;&nbsp;<input id="itema" class="easyui-combobox" name="projectId" data-options="panelHeight:'auto',editable:false">&nbsp;&nbsp;&nbsp;
				</td>
				<td align="right" >
					<a href="javascript:reload()" id="reloadSelectedBtn" class="easyui-linkbutton" data-options="iconCls:'icon-reload'">清空搜索条件</a>
				</td>
			</tr>
		</table>
	</form>
	<div style="margin: 5px;"></div>
	<table id="dg" class="easyui-datagrid"
		style="width: 100%; padding: 10px;"
		data-options="pagination:true,selectOnCheck:false,singleSelect:true,singleSelect:true">
		<thead>
			<tr>
				<th data-options="field:'projectName',halign:'center'" width="22%">项目名称</th>
				<th data-options="field:'issueName',halign:'center'" width="22%">缺陷名称</th>
				<th data-options="field:'userName',halign:'center'" width="15%">登记人</th>
				<th data-options="field:'logDate',align:'center',sortable:true" width="20%">登记时间</th>
				<th data-options="field:'workHours',align:'center',halign:'center'" width="20%">登记工时</th>
			</tr>
		</thead>
	</table>
</body>
</html>